.curved-loop-jacket {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 3.75rem;
  line-height: 1;
  fill: hsl(var(--foreground));
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  pointer-events: auto;
}
